<html>
<head>
    <title>Tom Swalens</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <h1>Called via IP Gateway: {{ request.remote_addr }}</h1>
    <h1>Current date and time: {{ datetime_now }}</h1>
    <img src="../img/odi.jpg" alt="logo Odisee">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80598.46232129616!2d4.293016398102172!3d50.8552033612868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3a4ed73c76867%3A0xc18b3a66787302a7!2sBrussel!5e0!3m2!1snl!2sbe!4v1698225142428!5m2!1snl!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</body>
</html>